#cabeca {
  display: flex;
  justify-content: space-between;
margin-top: 4%;
}

#dioni{
  display: flex;
  justify-content: center;
  align-items: center;

}
#dioni img {
  display: flex;
  justify-content: center;

  /* margin-top: 30px;
 */
 margin-left: 20px;

padding: 10px;
border-radius: 50%;
/* border: solid; */

width: 180px;
height: 180px;
}

#dioni img:hover{
  border:solid;
  /*usado para mudae a */
  content: url(galery/malas.png);
}


h1{
  display: flex;

  font-size: 120px;
  padding: 0;
}

li img{
  width: 70px;
  height: 70px;
}

#lista{
    display: flex;
  justify-content: center;
  align-items: center;
}

ul{

  border-left: solid 1px;
  text-align: left;
  padding: 0;
  margin-right: 50px;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
  margin-bottom: 10px;
  margin-right: 50px;

  font-size: 50px;

}

ul li:last-child{
  margin-left: 60px;
  gap: 30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#taca img:last-child {
 /* width: 100%;
  object-fit: contain; */

margin-top: 3.5%;
  width: 100vw;
  height: auto; /* ou defina altura se quiser um recorte */
  object-fit: cover;
  display: block; /* Remove espaçamento extra em imagens */
  
}