body{
  display: flex;
}

#dionisio {
  display: flex;
  font-size: 200px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main{
  /* border: solid; */
  display: block;

  background-color: #310959;
  padding: 60px;
  padding-top: 20px;
  border-radius: 10%;

  margin: 5% 5% 2% 0% ;
}

main h1{
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

a{
  display: flex;
}

img{
  margin: auto;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

div{
  background-color: #dfc9f19f;
  padding: 40px;
  border-radius: 10%;
}


#botao{
  background-color: transparent;
  display: flex;
  margin: 0;
  padding: 10px;
 /* border: solid; */
}

input{
  display: flex;
  align-items: center;

  border: transparent;
  border-radius: 50px;
  background-color: #310959;
  
  color: aliceblue;
  font-size: 40px;
  font-family:"Irish Grover", system-ui;

  width: 400px;
  height: 100px;

}

/*Quando passar o mouse por cima*/
input:hover{
  background-color: #4c1088;
  color: bisque;
}

p{
  /* border: solid; */
  margin: 0;
  padding: 10px;
  text-align: center;

  font-family: "Jersey 15", sans-serif ;
  font-size: 30px;

}