/* Zera tudo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o body não tenha margens */
html, body {
  margin: 0;
  padding: 0;
}

/* Faz a imagem ocupar toda a largura */
#image img {
  width: 100vw;
  height: auto; /* ou defina altura se quiser um recorte */
  object-fit: cover;
  display: block; /* Remove espaçamento extra em imagens */
}


main {
  display: flex;
  gap:10%;
  margin: 2%;
}

main img{
  width: 100px;
  height: 100px;
}

main img:hover {
  border: solid #dfc9f1af;
  border-radius: 50%;
}

div{
  background-color: #dfc9f11d;
  border-radius: 50%;
  width: 50%;
  height: 30%;
  padding: 5% 5%;

  /*Faz ficar em coluna e define o seu espaço*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

div ul{
  text-align: center;
  font-size: 40px;
}

